---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
    padding: 8em 0;
}

.profilenav {
    text-align: center;
    text-decoration: none;
}

.profilenames {
    text-align: center;
    text-decoration: underline;
}

.archive__item-title {
    text-align: center;
}

.page__hero--overlay .page__lead {
    text-align: center;
    margin: auto;
}

h1 {
    margin-top: 0;
    line-height: 1;
    text-align: center;
}

p {
    text-align: justify;
}
